<!--Para usar thymeleaf es necesario agregar esto en la etiqueta html: lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${title}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <p>
            Welcome: <strong th:text="${first_name}"></strong> <strong th:text="${last_name}"></strong></p>
        <p>
            Details Page Works!
        </p>
    </body>
</html>
